<h1 class="title">Characters</h1>
<p>Create a character and save it for use with other software.</p>
<hr>
<form>
    <div class="form-section">
        <h3>Biography</h3>
        <div class="input-group">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname">
        </div>
        <div class="input-group">
            <label for="mname">Middle Name:</label>
            <input type="text" id="mname" name="mname">
        </div>
        <div class="input-group">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname">
        </div>
        <div class="input-group">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <div class="input-group">
            <label for="title">title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input-group">
            <label for="age">Age:</label>
            <input type="text" id="age" name="age">
        </div>
        <div class="input-group">
            <label for="gender">gender:</label>
            <select id="gender" name="gender">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>
        <div class="input-group">
            <label for="race">race:</label>
            <input type="text" id="race" name="race">
        </div>
        <div class="input-group">
            <label for="bloodline">bloodline:</label>
            <input type="text" id="bloodline" name="bloodline">
        </div>
        <div class="input-group">
            <label for="birthplace">place of birth:</label>
            <input type="text" id="birthplace" name="birthplace">
        </div>
    </div>
    <div class="form-section">
        <h3>Traits</h3>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="COMPOSED">
                <label>COMPOSED	</label>
            </div>
            <div class="input-group">
                <input type="radio" name="COMPOSED">
                <label>HOTHEAD	</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="SENSITIVE">
                <label>SENSITIVE	</label>
            </div>
            <div class="input-group">
                <input type="radio" name="SENSITIVE">
                <label>COLD	</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="TALKATIVE">
                <label for="TALKATIVE">TALKATIVE	</label>
            </div>
            <div class="input-group">
                <input type="radio" name="TALKATIVE">
                <label for="TALKATIVE">QUIET	</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="HONORABLE">
                <label for="HONORABLE">HONORABLE	</label>
            </div>
            <div class="input-group">
                <input type="radio" name="HONORABLE">
                <label for="HONORABLE">UNPREDICTABLE	</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="REALISTIC">
                <label for="REALISTIC">REALISTIC	</label>
            </div>
            <div class="input-group">
                <input type="radio" name="REALISTIC">
                <label for="REALISTIC">HOPEFUL	</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="HUMOROUS">
                <label for="HUMOROUS">HUMOROUS</label>
            </div>
            <div class="input-group">
                <input type="radio" name="HUMOROUS">
                <label for="HUMOROUS">SERIOUS</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="OPTIMISTIC">
                <label for="OPTIMISTIC">OPTIMISTIC</label>
            </div>
            <div class="input-group">
                <input type="radio" name="OPTIMISTIC">
                <label for="OPTIMISTIC">PESSIMISTIC</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="KIND">
                <label for="KIND">KIND</label>
            </div>
            <div class="input-group">
                <input type="radio" name="KIND">
                <label for="KIND">CRUEL</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="GENEROUS">
                <label for="GENEROUS">GENEROUS</label>
            </div>
            <div class="input-group">
                <input type="radio" name="GENEROUS">
                <label for="GENEROUS">SELFISH</label>
            </div>
        </div>
        <div class="input-group around">
            <div class="input-group">
                <input type="radio" name="EMPATHETIC">
                <label for="EMPATHETIC">EMPATHETIC</label>
            </div>
            <div class="input-group">
                <input type="radio" name="EMPATHETIC">
                <label for="EMPATHETIC">APATHETIC</label>
            </div>
        </div>
    </div>
    <div class="form-section">
        <h3>Stats (Max)</h3>
        <div class="input-group">
            <label for="hp">Health:</label>
            <input type="text" id="hp" name="hp">
        </div>
        <div class="input-group">
            <label for="sp">Stamina:</label>
            <input type="text" id="sp" name="sp">
        </div>
        <div class="input-group">
            <label for="mp">Minneria:</label>
            <input type="text" id="mp" name="mp">
        </div>
        <div class="input-group">
            <label for="speed">Speed:</label>
            <input type="text" id="speed" name="speed">
        </div>
        <div class="input-group">
            <label for="hunger">hunger:</label>
            <input type="text" id="hunger" name="hunger">
        </div>
        <div class="input-group">
            <label for="thirst">thirst:</label>
            <input type="text" id="thirst" name="thirst">
        </div>
        <div class="input-group">
            <label for="energy">energy:</label>
            <input type="text" id="energy" name="energy">
        </div>
    </div>
    <input type="submit" value="Create Character" />
</form>