<h1 class="title">Characters</h1>
<p>Create a character and save it for use with other software.</p>
<hr>
<form>
    <div class="form-section">
        <h3>Biography</h3>
        <div class="input-group">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" [(ngModel)]="fname" name="fname">
        </div>
        <div class="input-group">
            <label for="mname">Middle Name:</label>
            <input type="text" id="mname" [(ngModel)]="mname" name="mname">
        </div>
        <div class="input-group">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" [(ngModel)]="lname" name="lname">
        </div>
        <div class="input-group">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" [(ngModel)]="nicknames" name="nickname">
        </div>
        <div class="input-group">
            <label for="title">title:</label>
            <input type="text" id="title" [(ngModel)]="titles" name="title">
        </div>
        <div class="input-group">
            <label for="age">Age:</label>
            <input type="text" id="age" [(ngModel)]="age" name="age">
        </div>
        <div class="input-group">
            <label for="gender">gender:</label>
            <select id="gender" [(ngModel)]="gender" name="gender">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>
        <div class="input-group">
            <label for="race">race:</label>
            <input type="text" id="race" [(ngModel)]="race" name="race">
        </div>
        <div class="input-group">
            <label for="bloodline">bloodline:</label>
            <input type="text" id="bloodline" [(ngModel)]="bloodline" name="bloodline">
        </div>
        <div class="input-group">
            <label for="birthplace">place of birth:</label>
            <input type="text" id="birthplace" [(ngModel)]="birthplace" name="birthplace">
        </div>
    </div>
    <div class="form-section">
        <h3>Traits</h3>
        <div *ngFor="let pair of list_of_traits; let i = index" class="input-group around">
            <div *ngFor="let trait of pair;" class="input-group">
                <input type="radio" [name]="pair" [value]="trait" [id]="trait">
                <label [for]="pair">{{ trait }}</label>
            </div>
        </div>
    </div>
    <div class="form-section">
        <h3>Stats (Max)</h3>
        <div class="input-group">
            <label for="hp">Health:</label>
            <input type="text" id="hp" [(ngModel)]="hp" name="hp">
        </div>
        <div class="input-group">
            <label for="sp">Stamina:</label>
            <input type="text" id="sp" [(ngModel)]="sp" name="sp">
        </div>
        <div class="input-group">
            <label for="mp">Minneria:</label>
            <input type="text" id="mp" [(ngModel)]="mp" name="mp">
        </div>
        <div class="input-group">
            <label for="speed">Speed:</label>
            <input type="text" id="speed" [(ngModel)]="speed" name="speed">
        </div>
        <div class="input-group">
            <label for="hunger">hunger:</label>
            <input type="text" id="hunger" [(ngModel)]="hunger" name="hunger">
        </div>
        <div class="input-group">
            <label for="thirst">thirst:</label>
            <input type="text" id="thirst" [(ngModel)]="thirst" name="thirst">
        </div>
        <div class="input-group">
            <label for="energy">energy:</label>
            <input type="text" id="energy" [(ngModel)]="energy" name="energy">
        </div>
    </div>
    <div *ngIf="data">
        <h3>Response:</h3>
        <pre>{{ data | json }}</pre>
    </div>
</form>
<button (click)="sendFormData(this)" value="Create Character">Create Character</button>