<h1 class="title">Characters</h1>
<p>Create a character and save it for use with other software.</p>
<hr>
<form>
    <div class="form-section">
        <h3>Biography</h3>
        <div class="input-group">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname">
        </div>
        <div class="input-group">
            <label for="mname">Middle Name:</label>
            <input type="text" id="mname" name="mname">
        </div>
        <div class="input-group">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname">
        </div>
        <div class="input-group">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <div class="input-group">
            <label for="title">title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input-group">
            <label for="age">Age:</label>
            <input type="text" id="age" name="age">
        </div>
        <div class="input-group">
            <label for="bloodline">bloodline:</label>
            <input type="text" id="bloodline" name="bloodline">
        </div>
        <div class="input-group">
            <label for="birthplace">place of birth:</label>
            <input type="text" id="birthplace" name="birthplace">
        </div>
    </div>
    <div class="form-section">
        <h2>Traits</h2>
        <div class="input-group">
            <label>TRT_COMPOSED	</label>
            <input type="radio" name="TRT_COMPOSED">
            <label>TRT_HOTHEAD	</label>
            <input type="radio" name="TRT_HOTHEAD">
        </div>
        <div class="input-group">
            <label>TRT_SENSITIVE	</label>
            <input type="radio" name="TRT_SENSITIVE">
            <label>TRT_COLD	</label>
            <input type="radio" name="TRT_COLD">
            
        </div>
        <div class="input-group">
            <label>TRT_TALKATIVE	</label>
            <input type="radio" name="TRT_TALKATIVE">
            <label>TRT_QUIET	</label>
            <input type="radio" name="TRT_QUIET">
        </div>
        <div class="input-group">
            <label>TRT_HONORABLE	</label>
            <input type="radio" name="TRT_HONORABLE">
            <label>TRT_UNPREDICTABLE	</label>
            <input type="radio" name="TRT_UNPREDICTABLE">
        </div>
        <div class="input-group">
            <label>TRT_REALISTIC	</label>
            <input type="radio" name="TRT_REALISTIC">
            <label>TRT_HOPEFUL	</label>
            <input type="radio" name="TRT_HOPEFUL">
        </div>
        <div class="input-group">
            <label>TRT_HUMOROUS</label>
            <input type="radio" name="TRT_HUMOROUS">
            <label>TRT_SERIOUS</label>
            <input type="radio" name="TRT_SERIOUS">
        </div>
        <div class="input-group">
            <label>TRT_OPTIMISTIC</label>
            <input type="radio" name="TRT_OPTIMISTIC">
            <label>TRT_PESSIMISTIC</label>
            <input type="radio" name="TRT_PESSIMISTIC">
        </div>

        <div class="input-group">
            <label>TRT_KIND</label>
            <input type="radio" name="TRT_KIND">
            <label>TRT_CRUEL</label>
            <input type="radio" name="TRT_CRUEL">
        </div>
        <div class="input-group">
            <label>TRT_GENEROUS</label>
            <input type="radio" name="TRT_GENEROUS">
            <label>TRT_SELFISH</label>
            <input type="radio" name="TRT_GENEROUS">
            
        </div>
        <div class="input-group">
            <label>TRT_EMPATHETIC</label>
            <input type="radio" name="TRT_EMPATHETIC">
            <label>TRT_APATHETIC</label>
            <input type="radio" name="TRT_EMPATHETIC">
        </div>
    </div>
    <div class="form-section">
        <h3>Stats</h3>
        <div class="input-group">
            <label for="class">Class:</label>
            <input type="text" id="class" name="class"><br><br>
        </div>
        <div class="input-group">
            <label for="race">Race:</label>
            <input type="text" id="race" name="race"><br><br>
        </div>
        <div class="input-group">
            <label for="level">Level:</label>
            <input type="number" id="level" name="level" min="1" max="20"><br><br>
        </div>
    </div>
    <input type="submit" value="Create Character" />
</form>