<header class="header">
    <h2 class="title">LoreFriendly</h2>
    <nav class="nav" [ngClass]="{'active': isActive}">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/home">home</a></li>
            <li class="nav-item"><a class="nav-link" href="/characters">characters</a></li>
            <li class="nav-item"><a class="nav-link" href="/traits">traits</a></li>
            <li class="nav-item"><a class="nav-link" href="/dialogue">dialogue</a></li>
            <li class="nav-item"><a class="nav-link" href="/quests">quests</a></li>
            <li class="nav-item"><a class="nav-link" href="/events">events</a></li>
            <li class="nav-item"><a class="nav-link" href="/chapters">chapters</a></li>
            <li class="nav-item"><a class="nav-link" href="/memories">memories</a></li>
            <li class="nav-item"><a class="nav-link" href="/places">places</a></li>
        </ul>
    </nav>
    <button class="btn burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>