header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    nav>ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        font-size: 1.6rem;
    }
    a, a:visited{
        color: white;
        text-decoration: none;
    }
    .nav-item{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}