header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:normal;
    .title{
      font-size: 200%;
    }
    min-height: 50px;
    nav>ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        font-size: 1.6rem;
    }
    a, a:visited{
        color: white;
        text-decoration: none;
    }
    .nav-item{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .burger{
      display: none;
      max-width: 20%;
      border: none;
      background-color: inherit;
      color: white;
    }
    @media screen and (max-width: 1152px) {
      nav{
        display: none;
      }
      .burger{
        display: flex;
        flex-direction: column;
        max-width: 60px;
        align-items:normal;
        margin: 10px 0 10px 0;
      }
      .burger>span{
        border-radius: 10%;
        border-bottom: 3px solid white;
        min-height: 10px;
        margin: 0 15px 0 15px;
      }
    }
    .active{
      transition: ease-in;
      margin:auto
    }
}