<header class="header">
    <h2 class="title">LoreFriendly</h2>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/characters">Characters</a></li>
            <li class="nav-item"><a class="nav-link" href="/dialogue">Dialogue</a></li>
            <li class="nav-item"><a class="nav-link" href="/quests">Quests</a></li>
            <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/chapters">Chapters</a></li>
            <li class="nav-item"><a class="nav-link" href="/memories">memories</a></li>
            <li class="nav-item"><a class="nav-link" href="/places">places</a></li>
        </ul>
    </nav>
</header>